<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>btv</title>
    <link href="06. btwNews.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div>
            <nav>
                <ul id="mainMenu">
                    <li>Новините</li>
                    <li>Спорт</li>
                    <li>Емисии</li>
                    <li>Любопитно</li>
                    <li>Аз, репортерът</li>
                    <li>Тази сутрин</li>
                </ul>
            </nav>
        </div>
        <div id="content">
            <div id="subMenu">
                <aside>
                    <a>Интернет новини - 13.07.2010 г.</a>
                    <hr/>
                    <a>Проливни дъждове в Дания, Китай и Индия, необичайни горещини в Иран</a>
                    <hr/>
                    <a>Над 200 хактера горят на територията на бивш военен полигон в Германия</a>
                    <hr/>
                    <a>23-ма ранени при сблъсък на два пътнически влака в Полша</a>
                    <hr/>
                    <a>Диференцират от догодина минималния осигурителен доход за самоосигуряващите се</a>
                </aside>
            </div>
            <img src="images\News.jpg" alt="News" />
        </div>
    </div>
</body>
</html>
