<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="02. MusicCategories.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <header>
            <h1>Music Categories</h1>
        </header>
        <section>
            <article>
                <img src="01. Man.jpg" alt="man" />
                <p>Even more websites all about websites templates on <a href="#">Just Web Templates</a>.</p>
                <button class="btnListen">Listen</button>
                <button class="btnAdd">Add</button>
            </article>
        </section>
        <section>
            <article>
                <img src="02. Girl.jpg" alt="girl" />
                <p>If you're looking for beautiful and professionally made templates you can find them at <a href="#">Template Beauty</a>.</p>
                <button class="btnListen">Listen</button>
                <button class="btnAdd">Add</button>
            </article>
        </section>
        <section>
            <article>
                <img src="03. Crowd.jpg" alt="crowd" />
                <p>You can remove any link to our website from this template you're free to use the template without linking back to us.</p>
                <button class="btnListen">Listen</button>
                <button class="btnAdd">Add</button>
            </article>
        </section>
    </div>
</body>
</html>
