<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nested Lists</title>
    <link rel="stylesheet" href="01. Lists.css" type="text/css" />
</head>
<body>
    <ul>
        <li class="mainMenuItem"><a href="#">List item</a>
        <ul>
            <li><a href="#">Sublist item</a></li>
            <li><a href="#">Sublist item</a></li>
            <li><a href="#">Sublist item</a></li>
            <li><a href="#">Sublist item</a></li>
        </ul>
        </li>
        <li class="mainMenuItem"><a href="#">List item</a>
            <ul>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
            </ul>
        </li>
        <li class="mainMenuItem"><a href="#">List item</a>
            <ul>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
            </ul>
        </li>
        <li class="mainMenuItem"><a href="#">List item</a>
            <ul>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
                <li><a href="#">Sublist item</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>
